* {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
}
.header {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}
.nav ul {
    list-style: none;
    gap: 20px;
    font-size: 18px;
    font-family: Poppins;
}
